:root {
  --darkSlateGray: #24273d; /* sidebar */
  --torquoise: #3dc3d6; /* nav bar */
  --tomato: #fe5460; /* expense */
  --seaGreen: #41dd66; /* income */
  --silver: #c8c7cc; /* arrow */
  --gainsboro: #e1e0e4; /* date */
  --background: #f8f8fa; /* background */
  --white: #ffffff; /* tablerow */
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background);
  color: var(--primary-color);
}
.container {
  margin: 24px;
  padding: 24px;
}

.header {
  display: flex;
}
.header-headings {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.header-profile {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.info-add-new,
.info-summary {
  display: flex;
  height: 20rem;
  width: 30rem;
  background-color: var(--white);
}

.detail {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.detail-category,
.detail-recents {
  display: flex;
  height: 20rem;
  width: 30rem;
  background-color: var(--white);
}
