:root {
  --darkSlateGray: #24273d; /* sidebar */
  --torquoise: #3dc3d6; /* nav bar */
  --tomato: #fe5460; /* expense */
  --seaGreen: #41dd66; /* income */
  --silver: #c8c7cc; /* arrow */
  --gainsboro: #e1e0e4; /* date */
  --background: #f8f8fa; /* background */
  --white: #ffffff; /* tablerow */
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background);
  color: var(--primary-color);
}
.container {
  margin: 24px;
  padding: 24px;
}
