body {
  background-color: rgb(79, 124, 221);
}
h1 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: white;
}
table {
  margin: auto;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #d3d3d3;
}
button {
  width: 3rem;
  height: 3rem;
}
input {
  height: 5rem;
  width: 12.2rem;
  font-size: 1.5rem;
}

.equal {
  height: 6.3rem;
  background-color: orange;
  border: orange;
}
.ac {
  color: orange;
}
